<nav class="nav">

    <div class="logo">
        <h2>Corp</h2>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>


    <ul class="ul">
        <li class="nav-item">
            <a href="#dont">Home</a>
        </li>
        <li class="nav-item">
            <a href="#forget">About</a>
        </li>
        <li class="nav-item">
            <a href="#to">Contact</a>
        </li>
        <li class="nav-item">
            <a href="#subscribe">Subscribe</a>
        </li>
    </ul>

</nav>